
  <ion-menu side="start" menuId="first" contentId="content1">
    <ion-header>
      <ion-toolbar>
        <ion-title>MyFareway</ion-title>
      </ion-toolbar>
    </ion-header>
  
  
    <ion-content>
      <ion-list>
      <ion-menu-toggle auto-hide="true">
        <ion-item>Item 1</ion-item>
        <ion-item>Item 2</ion-item>
        <ion-item>Item 3</ion-item>
      </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1"></ion-router-outlet>
  


 
  