<ion-grid>
  <ion-row>
    <ion-col size-lg="3" size-md="4" size-sm="6" size="12" sizeXs="6" *ngFor="let article of circular; let i=index;">
      <ion-card>
        
        <div class="img-container">
          <h6 class="exp-text">{{"Exp " + article.ValidityEndDate}}</h6>
          <ion-img class="img-activate" src="./assets/activate.png"></ion-img>
          <ion-img class="img-product"src="{{article.SmallImagePath}}"></ion-img>
        </div>
        <img class="sh-icon" src="./assets/sh_list.png">
        <ion-grid class="inner">
          <ion-row>
            <ion-col class="ion-text-right">
              <ion-text color="danger">
                With MyFareway
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-right">
              <ion-text class="price" [innerHTML]="article.DisplayPrice">
            </ion-text>
          </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text class="bold-txt">
                {{article.PackagingSize}}
              </ion-text>
            </ion-col>
            <ion-col>
              <ion-text class="bold-txt">
                Everyday Price 6.89$
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-right">
              <ion-text class="bold-txt">
                Promo Price 6.20$
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text class="desc">
                {{article.CouponShortDescription}}
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row class="deal-bg">
            <ion-col class="ion-text-center">
              <ion-text class="deal-txt">
                My Personal Deal
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>